/* ======= home-header ===== */
.home-header{
  background-image: 
    linear-gradient(rgba(47, 47, 47, 0.5), rgba(61, 61, 61, 0.5)), 
    url("https://cdn.pixabay.com/photo/2017/08/06/22/01/books-2596809_1280.jpg");
  height: 100vh;
  background-position: 100% 100%;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 89%, 0 100%);
}

.info{
  height: 70%;
  color: white;
  width: 600px;
  display: flex;
  margin-left: 4rem;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.info h1{
  font-weight: 600;
}

.info p{
  line-height: 1.75rem;
  color: lightgray;
}

.info button{
  margin-top: 1rem;
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #34b0f1;
  background: white;
  cursor: pointer;
}

/* ======= SERVICE ===== */

.service{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0;
}

.service h1{
  font-size: 2.5rem;
  font-weight: 600;
}

.service h1::after{
  content: '';
  display: block;
  width: 70px;
  height: 7px;
  border-radius: 5px;
  background-color: #34b0f1;
  margin: 0 auto;
}

.cards{
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
}

/* ======= BEST SELLERS ===== */

.bestSellers{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0 0 0;
  padding: 3.75rem 2rem;
  background-color: #f3f3f3;
}

.bestSellers h1{
  font-size: 2.5rem;
  font-weight: 600;
}

.bestSellers h1::after{
  content: '';
  display: block;
  width: 70px;
  height: 7px;
  border-radius: 5px;
  background-color: #34b0f1;
  margin: 0 auto;
}

.best-books{
  margin-top: 5rem;
  display: flex;
  gap: 5rem 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

/* ======= FOOTER ===== */

footer{
  width: 100%;
}

.footer-sec{
  background-color: #2a323f;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-sec h1{
  color: white;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footer-sec form{
  display: flex;
  flex-direction: column;
  position: relative;
}

.footer-sec form input{
  padding: 1.5rem;
  width: 100%;
  background: transparent;
  border: 2px solid lightslategray;
  outline: none;
  color: gray;
  font-size: 1rem;
}

.footer-sec form input::placeholder{
  font-size: 1rem;
  font-weight: 600;
}

.footer-sec form button{
  position: absolute;
  right: 10px;
  top: 9px;
  height: 50px;
  width: 50px;
  font-size: 2rem;
  background-color: #34b0f1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer-sec form p{
  color: gray;
  margin-top: 1.5rem;
}

footer > nav{
  background-color: #242c39;
}