.sidebar{
  background-color: lightslategray;
  width: 300px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 4rem;
  gap: 1rem;
  border-radius: 0 25px 25px 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 0.5rem;
}

.sidebar ul li{
  cursor: pointer;
}

.sidebar ul li:hover{
  background-color: lightsteelblue;
}