.service-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: .5rem;
}

.service-card h2{
  font-size: 1.75rem;
}

.service-card h2::after{
  content: '';
  display: block;
  width: 50px;
  height: 7px;
  border-radius: 5px;
  background-color: #34b0f1;
  margin: 0 auto;
}

.service-card p{
  margin-top: 1rem;
  color: lightgray;
  max-width: 250px;
  text-align: center;
  line-height: 1.75rem;
  font-size: 1.15rem;
}

.icon{
  position: absolute;
  left: 165px;
  top: 160px;
}